@charset "UTF-8";

body { margin:0;}
#page { display: inline-block;
    margin: 0;
    width: 100%;
	background:url(../../img/bg_body.png) top left repeat-x #F4F4F4;}
#wrapper { margin:15px auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); background:#fff;}
.product_list.list { overflow:hidden;}
.product-content { min-height:120px; padding:15px 0;}
a.footer-tags { padding:2px; margin-left:2px;}
.cd-tabs-navigation { font: 13px/28px "Open sans",Arial;}
.cd-tabs-content {font: 13px/28px "Open sans",Arial;}
#htmlcontent_ariesadvertisehome01 { margin-top:35px;}
@media (min-width: 1200px) {

#index #center_column.col-sm-6, #category #center_column.col-sm-6, #product #center_column.col-sm-6 { width:50%;}

#htmlcontent_top { max-width:391px !important; padding-left:0 !important; width:33% !important;}
#htmlcontent_top ul li { width:100% !important;}

#wrapper { width:1200px; margin:15px auto}
#htmlcontent_ariesadvertisehome02 .htmlcontent-item-4 { width:66.66%;}
.ac_results {
	width:355px !important;
}
}

@media (min-width: 1320px) {

#wrapper { width:1320px;}
.outer-container { max-width:1280px;}
.container {
	max-width: 1280px;
}
#center_column.col-xs-12.col-sm-6 { width:60%;}

.col-slide { width:68%; float:left;}

#htmlcontent_top { max-width:391px !important; padding-left:0 !important; width:33% !important;}
#htmlcontent_top ul li { width:100% !important;}
.ac_results {
	width:410px !important;
}
}
.cat_desc { padding:15px; background: rgba(0, 0, 0, 0.5); position:absolute; bottom:0;}
@media (min-width: 992px) and (max-width: 1199px) {
	#wrapper { width:992px;}
#htmlcontent_top { max-width:100% !important; padding-left:0 !important; width:100% !important;}
#htmlcontent_top ul li { width:50% !important;}
.outer-container { padding-left: 0; padding-right: 0;}
.container {
	padding-left: 0;
	padding-right: 0;
}
.block .products-block li .products-block-image { width:100%; margin-bottom:10px;}
.col-sm-6 { width:48%;}
.product_list.grid .col-sm-6 { width:33%;}
.col-sm-9 { width:74%;}
.col-sm-3 { width:26%;}

#htmlcontent_top { max-width:auto; padding-left:0;}
#htmlcontent_ariesadvertisehome02 .htmlcontent-item-4 { width:66.66%;}
.ac_results {
	width:310px !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	#wrapper { width:768px;}
	#htmlcontent_top { max-width:100% !important; padding-left:0 !important; width:100% !important;}
#htmlcontent_top ul li { width:50% !important;}
	.col-sm-3 { width:100%;}
	.col-xs-12 { width:100%;}
	.product_list.grid .col-xs-12 { width:49%;}
	.outer-container { padding-left: 0; padding-right: 0;}
	.container {
	padding-left: 0;
	padding-right: 0;
}
.block .title_block span:before { border:none;}
.title_block span { width:100%;}
.block .title_block, .block h4 { margin:0;}
.block .products-block li .product-content { float:left; width:70%;}
.block .products-block li .products-block-image { width:100px; float:left; margin-bottom:10px;}
#htmlcontent_right, #htmlcontent_left { display:none;}

#htmlcontent_top { max-width:auto; padding-left:0;}
#htmlcontent_ariesadvertisehome02 .htmlcontent-item-4 { width:66.66%;}

.ac_results {
	width:96% !important;
}
}
.extra_button { text-align:right;}
#wishlist_button_nopop { margin-bottom:10px; display:inline-block;}
.htmlcontent-home img.item-img { max-width:100%; height:auto;}


.grid12-12, .grid-full {
	width: 98%;
}
.grid12-4, .grid12-5 {
	width: 32%;
}
#categories_block_left.block .title_block span:before { border:none !important;}
.grid12-12, .grid-full, .grid12-4, .grid12-5 {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	position: relative;
}
.grid12_2 {
	width: 50%;
}
.v-grid-container {
	display: table;
	width: 100%;
}
.v-grid {
	display: table-cell;
	float: none;
	vertical-align: middle;
}
.desktop_vs {
	display: block;
}
.mobile_vs {
	display: none;
}
.desktop_view {
	display: block
}
.desk_view {
	display: block;
}
.mobi_view {
	display: none;
}
/*header*/
#htmlcontent_ariesadvertisehome02 { text-align:center;}
.shopping_cart .cart_txt { line-height:1.4;}
.cart_txt {
	clear: both;
    color: #000;
    font-weight: normal;
	font-size:14px;
}
span.totalprice {
	color: #000;
	float: right;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	padding: 0 10px 0 0;
}
.shopping_cart span.totalprice {
	margin-left:0;
	padding:0;
	float:left;
	font-weight:bold;
	font-size:14px;
	line-height:1.2;
	 padding-bottom:4px;
	 color:#000;
	
}
.price_circle {
	background:#000;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 0.916em;
	height: 22px;
	line-height: 22px;
	position: absolute;
	right: -10px;
	top: -7px;
	min-width: 22px;
	text-align: center;
	padding: 0px 3px;
}
.compare_btn_rel:hover {
	right:0;
	transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.compare_btn_rel {
	position:fixed;
	right:-95px;
	top:20%;
	z-index:9999;
	box-shadow:1px 2px 2px #333;
	transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.item-link {
	padding:0;
	display:block;
	text-align:center;
	color:#fff;
	position:relative;
}
#htmlcontent_top a.item-link {border:1px solid #ccc;}
a.item-link, a.item-link:hover { overflow:hidden;}
.htmlcontent-item-1 img, .htmlcontent-item-2 img, .htmlcontent-item-3 img, .htmlcontent-item-4 img, .htmlcontent-item-5 img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.htmlcontent-item-1:hover img, .htmlcontent-item-2:hover img, .htmlcontent-item-3:hover img, .htmlcontent-item-4:hover img, .htmlcontent-item-5:hover img { 
transform: scale(1.1); 
-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;}

.topbanner_wrapper { width:100%; text-align:center;}
a.topbanner { margin:0 auto 10px; display:inline-block;}
#productscategory_list .product-box .button.ajax_add_to_cart_button { padding:12px 47px 12px 18px; }
#categories_block_left {
	padding:0;
	margin-bottom:30px;
	margin-top:0;
	float:left;
	width:100%;
}

#categories_block_left h2.title_block {
	margin-top:0;
	margin-bottom:10px;
	padding-bottom:0;
	position:relative;
	color:#000;
	font-family:"Open Sans",sans-serif;
	border-bottom:none;
}

#categories_block_left h2.title_block span.cat_class {
	font-size:20px;
	color:#555555;
	font-weight:700;
	text-transform:uppercase;
    position: relative;
    z-index: 101;
}
.col-omi-xs5 {
	float:left;
	width:19%;
}
.main_footer section.blocks {
	margin-left: 1%;
}
.pb-left-column {
	float: left;
	margin-bottom: 10px;
	position: relative;
	width: 50%;
}
.pb-center-column {
	float: right;
	width: 50%;
}
.product-wrapper {
	border: 4px solid #eee;
	margin-left: 30px;
	margin-top: 0;
	padding: 20px 30px;
	position: relative;
}
.list .button-container .rx-cart { text-align:left;}

.shop-phone {
	color:#000;
}
#htmlcontent_home {
	clear:both;
}
.productlisting .comments_note {
	width:auto;
	display:inline-block;
	margin:0 auto;
}

.header_user_info .compare_button {
	position:relative;
	z-index:9999;
	background:none;
	border:none;
	font-size:14px;
}
.header-compare {
	padding-left:2px;
}
.block_content {
	padding:15px 10px 10px;
	font-family:Arial, Helvetica, sans-serif;
}
#categories_block_left .block_content {
	padding:0;
}
.header-compare:before {
	content: "\f012";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	left:-7px;
	position:relative;
}
.header-wishlists:before {
	content: "\f004";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}
.layer_cart_row .ajax_block_products_total, .layer_cart_row .ajax_cart_shipping_cost, .layer_cart_row .ajax_block_cart_total {
	float: right;
}

.border_inside .add-to-links {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 15px;
    left: 5%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 99;
}
.border_inside .cartbottom_btn div a {
	background:#8DCC01;
    height: 32px;
	width: 32px;
	line-height:32px;
	color:#fff;
	border:0;
	font-size:14px;
	text-align:center;
    margin: 0;
	font-weight:normal;
    padding: 0;
	float:left;
}
.border_inside .cartbottom_btn div a:hover {
	color:#fff;
	background:#8DCC01;
}
.border_inside .cartbottom_btn div.cart {
    float: left;
    width: auto;
}
.border_inside .cartbottom_btn div {
    float: left;
    height: 32px;
    overflow: hidden;
    position: relative;
}
.border_inside .cartbottom_btn div a {
	-moz-transition: all 04ms linear;
    -ms-transition: all 04ms linear;
    -o-transition: all 04ms linear;
    transition: all 04ms linear;
	margin-left:5px;
}
.border_inside .cartbottom_btn div a {
	visibility: hidden;
	  opacity: 0;
	  cursor: pointer;
	  -webkit-transform: scale(0.2);
	  -moz-transform: scale(0.2);
	  -ms-transform: scale(0.2);
	  -o-transform: scale(0.2);
	  transform: scale(0.2);
	  -webkit-transition: all 250ms cubic-bezier(1.000,-0.6,0.570,-0.15);
	  -moz-transition: all 250ms cubic-bezier(1.000,-0.6,0.570,-0.15);
	  -ms-transition: all 350ms cubic-bezier(1.000,-0.6,0.570,-0.15);
	  -o-transition: all 250ms cubic-bezier(1.000,-0.6,0.570,-0.15);
	  transition: all 250ms cubic-bezier(1.000,-0.6,0.570,-0.15);
}
.border_inside .cartbottom_btn {
    float: left;
    margin: 0;
    width: auto;
}
.cartbottom_btn {
    display: inline-block;
    margin: 13px 0 8px;
    text-align: center;
}
.border_inside .cartbottom_btn div.cart a {
	transition-delay: 0.25s;
}
.border_inside .cartbottom_btn div.quick-view-wrapper a {
	transition-delay: 0.3s;
}
.border_inside .cartbottom_btn div.wishlist a {
	transition-delay: 0.4s;
}
.border_inside .cartbottom_btn div.compare a {
	transition-delay: 0.4s;
}
.border_inside:hover .cartbottom_btn div a {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


@media (min-width: 992px) and (max-width: 1199px) {
#featured-products_block_center .imageblocker {
	height:380px;
}
#product .col-sm-6 .pb-center-column.col-sm-4, #product .col-sm-6 .pb-left-column.col-sm-4 { width:100%;}
 #search_block_top #searchbox { width:100% !important;}
}
@media (min-width: 768px) and (max-width: 991px) {
header .row #header_logo {text-align:center;}
.col-sm-4 { width:100%;}

.camera_wrap {
	margin-bottom:15px !important;
}
#index .tab-content {
	margin-top:5px;
}

.js .ps-slides {
	bottom: 120px;
	top: 0px;
	overflow:hidden
}

.col-omi-xs5 {
	float:left;
	width:100%;
	clear:both;
}
.main_footer section.blocks {
	margin-left: 0;
}
#special_block_right { display:inline-block; width:100%;}
nav #contact-link a { padding:11px 9px !important; }
.border_inside .cartbottom_btn div a {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
}
@media (min-width: 460px) and (max-width: 767px) {
.ac_results {
	width:96% !important;
}

#header .wishlinks, #header .shopping_cart {
display:inline-block;
}
.outer-container { max-width:94%;}
#wrapper { width:460px;}
#header .shopping_cart {
	padding-top:10px !important;
}
#featured-products_block_center .imageblocker {
	height:530px !important;
}
.js .ps-slides {
	bottom: 415px;
	top: 0px !important;
}
#header .cart_block { width:100% !important;}
#header .shopping_cart {
	padding-top:0px !important;
	margin-top:15px !important;
	margin-bottom:20px !important;
}
#header .wishlinks {margin-top:15px !important;}
nav #contact-link a { padding:11px 9px !important; }
.left-arrow {
	display:none;
}
.cartbottom_btn {
	position:absolute;
	transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	opacity:1;
	left:0;
	bottom:0;
	width:100%;
}
.col-omi-xs5 {
	float:left;
	width:100%;
	clear:both;
}
.main_footer section.blocks {
	margin-left: 0;
}
.block .title_block span:before { border:none;}
.title_block span { width:100%;}
.block .title_block, .block h4 { margin:0;}
#center_column .container { padding-left:0; padding-right:0}
#special_block_right, #wishlist_block { float:left; width:100%;}
.col-xs-4 { width:33%;}
.product_list.list .col-xs-4 { width:100% !important;}
.htmlcontent-home .col-xs-4 { margin-bottom:10px; width:100%;}

.pb-left-column {
	width: 100%;
}
.pb-center-column {
	width: 100%;
}
#search_block_top #searchbox {
    width: 100% !important; }

.grid12-4, .grid12-5 {
	width: 100% !important;
	float: left !important;
	margin-top: 10px;
	margin-left:0 !important;
	margin-right:0 !important;
}
#htmlcontent_right, #htmlcontent_left { display:none;}
#htmlcontent_ariesadvertisehome02 .htmlcontent-item-4 { width:100%;}
.htmlcontent-home img.item-img { width:100%;}

.border_inside .cartbottom_btn div a {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
}
header .nav, .shop-phone, .shop-phone strong, nav #contact-link a, nav .header_user_info a, #languages-block-top div.current,
#languages-block-top div.current:after { color:#000;}

a.header-wishlists, .header-wishlists:before, .header-compare {color:#000;}
@media (max-width: 459px) {
	.ac_results {
	width:92% !important;
}
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before { font-size:32px; font-weight:bold; line-height:32px; height:32px; width:32px;} 
.outer-container { max-width:92%;}
.htmlcontent-home img.item-img { width:100%;}
.header-col-sm-4 { text-align:center;}
#header .wishlinks { margin-top:16px !important;} 
	#htmlcontent_top { max-width:100% !important; padding-left:0 !important; width:100% !important;}
#htmlcontent_top ul li { width:100% !important;}
.js .ps-slides {
	bottom: 415px;
	top: 0px !important;
}
#header .shopping_cart {
	padding-top:0px !important;
	margin-top:15px !important;
	margin-bottom:15px !important;
}
.header_user_info a, .header-compare:before {
	font-size: 16px;
}

/***** iPhone (portrait) *****/

.grid12-4, .grid12-5 {
	width: 100% !important;
	float: left !important;
	margin-top: 10px;
	margin-left:0 !important;
	margin-right:0 !important;
}
.cartbottom_btn {
	position:absolute;
	transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	opacity:1;
	left:0;
	bottom:0;
	width:100%;
}
.col-omi-xs5 {
	float:left;
	width:100%;
	clear:both;
}
.main_footer section.blocks {
	margin-left: 0;
}
.block .title_block span:before { border:none;}
.title_block span { width:100%;}
.block .title_block, .block h4 { margin:0;}
#center_column .container { padding-left:0; padding-right:0}
#special_block_right, #wishlist_block { float:left; width:100%;}
.col-xs-4 { width:100%;}
.htmlcontent-home .col-xs-4 { margin-bottom:10px;}

.pb-left-column {
	width: 100%;
}
.pb-center-column {
	width: 100%;
}
#search_block_top #searchbox {
    width: 100% !important; }

#htmlcontent_right, #htmlcontent_left { display:none;}
.border_inside .cartbottom_btn div a {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.widget-static-block { margin-top:0 !important;}
}
/* Footer */

#footer .main_footer {
	float: left;
	padding-bottom: 0px;
	padding-top: 30px;
	position: relative;
	width: 100%;
}
.hook_footer {
	padding: 0 20px;
}
#footFeatureinfo {
	margin-top: 20px;
}
.homefeature_footer li {
	float: left;
	line-height: 24px;
	margin-bottom: 15px;
	width: 100%;
}
.homefeature_footer .fproducts-box {
	float: left;
	margin-right: 10px;
	position: relative;
}
.footer-product-image {
	width:52px;
	max-width:52px;
	height:auto;
	float:left;
}
.footer-product-image img {
	border: 1px solid #CCCCCC;
	padding: 2px;
	width:100%;
	height:auto;
}
.homefeature_footer h5 {
	border: medium none;
	font-size: 13px;
	margin: 0;
	line-height: 24px;
	font-family:"Open sans", arial;
}
#footer li a {
	color: #FFFFFF;
}
.fprice_container {
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}
.fprice_container .price {
	font-size:12px;
}
.featuredfooter .toggle-footer {
	list-style:none;
	padding-left:0;
}
.featuredfooter .fproducts-box {
	float: left;
	margin-right: 10px;
	position: relative;
}
.featuredfooter h5 {
	margin-top:4px;
	margin-bottom:4px;
}
.footer-product-image:hover img {
	border: 1px solid #CCCCCC;
}
.featuredfooter li {
	float: left;
	line-height: 24px;
	margin-bottom: 15px;
	width: 100%;
}
.footer-container #footer a {
	color:#fff !important;
}
.featuredfooter h5 a {
	font-weight:bold !important;
}
ul.toggle-footer {
	list-style: disc outside none;
	padding-left: 1.5em;
}
#newsletter_block_left ul.toggle-footer {
	padding-left:0;
	list-style:none;
}

.main_footer section h4 {
	padding-bottom: 10px !important;
	color: #FFFFFF;
	font: 300 14px/22px "Open sans", sans-serif;
	text-transform:uppercase;
	margin: 0 0 10px;
}

.footer-container .container {
	padding-bottom:70px;
}

.no-padding {
	padding:0 !important;
}
.contact_cont {
	color: #fff;
	float: left;
	line-height: 20px;
	width: 80%;
	font-size:12px;
}
#tags_block_left p.block_content {
	margin:0;
}
.contact_cont a {
	font-weight:bold !important;
	font-size:12px;
}
#block_various_links_footer li {
	font-size:11px;
	font-weight:400;
}

.footer-container #footer .bottom-footer {
	bottom: -55px;
	left: 0;
	position: absolute;
}
.htmlcontent-home { margin-bottom:25px; clear:both;}
#htmlcontent_ariesadvertisehome01 .col-xs-4, #htmlcontent_ariesadvertisehome02 .col-xs-4 { padding:5px;}
.marg-li { margin-left:-5px; margin-right:-5px;}

section#box-content { overflow:hidden;}
.category-text-align { text-align:center; padding:40px 10px;}
.border_inside {
	text-align:center;
	/*width:285px;*/
	position:relative;
	
}
.border_inside h3 {
	clear: both;
	margin-top: 5px;
	padding-bottom: 0;
	text-align: center;
}
.border_inside h3 a {
	color: #000000;
	font-family:"lato", sans-serif;
	font-size: 16px;
	text-decoration:none;
}
.border_inside a.prodtimage img {
	width:100%;
	height:auto;
}
.prodtimage {
	position:relative;
	margin-bottom:5px;
	text-align:center;
}


#viewed-products_block_left h3 { margin:0; font-size:16px; font-family:"lato", Open sans, arial; }
#viewed-products_block_left .product-name { font-family:"lato", arial; font-size:16px;}
.prod_img { position:relative; margin:0 auto;}
.margin-top-class { margin-top:10px;}
#category .grid-col2-main { width:74.13%; margin-right:1%; margin-left:1%;}
#category .grid-col2-sidebar { width:21.87%; margin-right:1%; margin-left:1%;}
.breadcrumb-container { width:100%; margin-bottom:15px;}
.op-breadcrumb .breadcrumb-container { background:#f6f6f6;}
.op-breadcrumb .breadcrumb { background:none; border:none; display:block; width:100%; color:#DF3653; margin-top:15px;}
.op-breadcrumb .breadcrumb .navigation-pipe { color:#333; font-weight:normal; padding-left:5px;}

.list .new-box span.new-label { left:25px}

.sale-label {
	background: #EB6D64;
	top: 15px;
	color: #FFFFFF;
	font: 12px/60px "Open sans", Arial, Helvetica, sans-serif;
	position: absolute;
	border-radius:50%;
	right: 5px;
	text-align: center;
	transition: all 0.5s ease 0s;
	min-width: 60px;
	z-index: 999;
	text-transform:uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.new-box span.new-label {
    background: #FBBC05;
    color: #fff;
	border-radius:50%;
    font: 12px/60px "Open sans",Arial,Helvetica,sans-serif;
    left: 5px;
	text-transform:uppercase;
    position: absolute;
    text-align: center;
    top: 15px;
    transition: all 0.5s ease 0s;
    min-width: 60px;
    z-index: 999;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.border_inside:hover .new-box span.new-label:after, .border_inside:hover .new-box span.new-label, .border_inside:hover span.sale-label:after, .border_inside:hover .sale-label {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}

.heading-counter { display: inline-block;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 100%;}
#center_column .heading-counter { padding-bottom:10px; text-align:right; color:#999;}