#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
    position: relative; }
    #categories_block_top .sf-menu > li {
      position: static; }
      #categories_block_top .sf-menu > li > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px; }
        #categories_block_top .sf-menu > li > ul > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px; }
        #categories_block_top .sf-menu > li > ul > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%; }
          #categories_block_top .sf-menu > li > ul > .category_thumb img {
            display: inline-block;
            width: 33%; }
      #categories_block_top .sf-menu > li h4 a {
        font-size: 1.1em; }
        #categories_block_top .sf-menu > li h4 a:before {
          display: none; }
      #categories_block_top .sf-menu > li .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0; }
    #categories_block_top .sf-menu .category_thumb {
      display: none; }

#categories_block_left .block_content > ul {
	margin-bottom:0;
  /*border-top: 1px solid #d6d4d4;*/ }
#categories_block_left li {
  position: relative;
 }

 #categories_block_left { font-family:"Open Sans",sans-serif;}
	#categories_block_left .tree li li { }
  #categories_block_left li a {
    font-weight: bold;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 20px;
	padding:10px 25px 10px 12px;
	font-family:"Open Sans",sans-serif;
    }
  #categories_block_left li span.grower {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 14px;
	background-color:#DDDDDD; }
	#categories_block_left li li span.grower { top:10px;}
    #categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
      content: "-";
      display: block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      color: #ffffff;
      line-height: 20px;
      text-align: center;
	  font-size:20px; }
    #categories_block_left li span.grower.CLOSE:before {
      content: "+";
      color: #ffffff; }
  #categories_block_left li span.grower:hover + a,
  #categories_block_left li a:hover,
  #categories_block_left li a.selected {
   /* background: #f6f6f6;*/ }
   #categories_block_left a { border-bottom:1px solid #ccc;}
  #categories_block_left li li a, #categories_block_left li li li a, #categories_block_left li li li li a, #categories_block_left li li li li li a {
    font-weight: normal;
    color: #000;
 }
	#categories_block_left li li li a { padding-left: 20px;}
    #categories_block_left li li a:before {
      content: "\f105";
      font-family: "FontAwesome";
      line-height: 29px;
      padding-right: 8px; }
@media (min-width: 460px) and (max-width: 767px) {
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before { font-size:32px; font-weight:bold; line-height:32px; height:32px; width:32px;}
#categories_block_left li a { line-height:42px; font-size:18px; font-weight:bold; padding:0px 25px 0px 12px}
#categories_block_left { margin-bottom:15px;} 
#categories_block_left li span.grower { top:5px; }}
@media (max-width: 459px) {
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before { font-size:32px; font-weight:bold; line-height:32px; height:32px; width:32px;}
#categories_block_left li a { line-height:42px; font-size:18px; font-weight:bold; padding:0px 25px 0px 12px}
#categories_block_left { margin-bottom:15px;}
#categories_block_left li span.grower { top:5px; } }