/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  color: #d7d7d7;
  line-height: 19px;
  margin: 0;
  height:260px;
  overflow:hidden; 
  position:relative;}
  .content_scene_cat .content_scene_cat_bg {
    background-color: #464646 !important;
	padding:15px;
	 }
    @media (max-width: 1199px) {
      .content_scene_cat .content_scene_cat_bg {
        padding: 10px 10px 10px 15px; } }
  .content_scene_cat span.category-name {
    font: 600 42px/51px "Open Sans", sans-serif;
    color: #ccc;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a {
    color: white; }
    .content_scene_cat a:hover {
      text-decoration: none; }
  .content_scene_cat .content_scene {
    color: #777777; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #777777; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #515151; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  padding: 10px 0 0px 0; }
  #subcategories p.subcategory-heading {
    color: #333333;
    float: left;
    margin-top: 10px;
    padding-bottom: 5px;
    width: 100%;
	font-size:16px;
	font-weight:bold; }
  #subcategories ul {
    margin: 0 0 0 -10px; }
    #subcategories ul li {
      float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100px; }
      #subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        #subcategories ul li .subcategory-image a {
          display: block;
           }
          #subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top;
			width:100%;
			height:auto; }
      #subcategories ul li .subcategory-name {
        font: 100 12px/16px "Open sans", sans-serif;
        color: #1E1E1E;
        text-transform: uppercase;
		 }
        #subcategories ul li .subcategory-name:hover {
          color: #515151; }
      #subcategories ul li .cat_desc {
        display: block; }
      #subcategories ul li:hover .subcategory-image a {
         }
		 #subcategories ul li .cat_desc p { font-size:12px;}
