<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockhomeproductslide</name>
	<displayName><![CDATA[Home Product Slide in Homepage]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[Featured product, topsellers product, new product, special product in Homepage.]]></description>
	<author><![CDATA[Ariestheme]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>